body {
    margin: 0px;
    font-family: 'Merriweather', sans-serif;
    font-weight: 600;
    text-align: center;
}

h1, h2 {
    font-weight: 600;
    text-align: center;
}

nav ul li {
    display: inline-block ;
}

#homeimg {
    height: 300px;
    width: auto;
}

header {
    background-color:#fbc859;
    color: white; 
}

.whitelink {
    color: white;
}
