body {
    margin:0px;
}

nav ul li {
    display: inline-block;
}

#homeimg {
    height: 600px;
    width: auto;
}

header {
    background-color:aqua;
    color:white;
}

.whitelink {
    color:white;
}

header, section {
    padding: 5%;
}